#background-container {
  background-image: url('../../assets/img/lake-from-deck-background-edited.jpg');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#auth-container {
  justify-content: center;
  display: flex;
  padding-top: 5%;
}

#auth-form {
  background: aliceblue;
}
