<nav class="navbar navbar-expand-lg navbar-light" [ngClass]="navStyle">

  <div class="container-fluid">

    <!-- Navbar brand -->
    <a class="navbar-brand" routerLink="/calendar"><h2>Gularte Cabin</h2></a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

      <!-- Links -->
      <ul class="nav navbar-nav mr-auto">
        <li *ngIf="!authService.loggedIn" routerLink="/authenticate" routerLinkActive="active" class="nav-item">
          <a class="nav-link"><h5>Authenticate</h5></a>
        </li>
        <li routerLink="/calendar" routerLinkActive="active" class="nav-item">
          <a class="nav-link"><h5>Calendar</h5></a>
        </li>
        <li routerLink="/photos" routerLinkActive="active" class="nav-item">
          <a class="nav-link"><h5>Photos</h5></a>
        </li>
        <li routerLink="/notes" routerLinkActive="active" class="nav-item">
          <a class="nav-link"><h5>Message Board</h5></a>
        </li>
      </ul>
      <ul class="nav navbar-nav float-right">
        <li *ngIf="authService.loggedIn" class="nav-item">
          <app-user-profile></app-user-profile>
        </li>
      </ul>
    </div>
  </div>
</nav>
