<div class="row justify-content-center mt-3">
  <h1><u>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</u></h1>
</div>

<div class="row justify-content-center">
  <div class="btn-group col-12 col-md-3 col-lg-2">
    <div
      class="btn btn-primary col-4"
      mwlCalendarPreviousView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      Previous
    </div>
    <div
      class="btn btn-outline-secondary col-4"
      mwlCalendarToday
      [(viewDate)]="viewDate"
    >
      Current
    </div>
    <div
      class="btn btn-primary col-4"
      mwlCalendarNextView
      [view]="view"
      [(viewDate)]="viewDate"
      (viewDateChange)="closeOpenMonthViewDay()"
    >
      Next
    </div>
  </div>
</div>

<br/>

<ng-template #customCellTemplate let-day="day" let-locale="locale">
  <div class="cal-cell-top">
    <span class="cal-day-number">
      {{ day.date | calendarDate:'monthViewDayNumber':locale }}
    </span>
  </div>
</ng-template>

<div class="ml-lg-5 pl-lg-5 mr-lg-5 pr-lg-5">
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [activeDayIsOpen]="activeDayIsOpen"
    (dayClicked)="dayClicked($event.day)"
    (eventClicked)="handleEvent('Clicked', $event.event)"
    (eventTimesChanged)="eventTimesChanged($event)"
  >
  </mwl-calendar-month-view>
</div>

<!-- Everything you see below is just for the demo, you don't need to include it in your app -->

<br/><br/>

<div class="row">
  <div class="col-12 col-lg-6 ml-lg-5 pl-lg-5 mr-lg-5 pr-lg-5">
    <h3>
      <u>Reservations List</u>
    </h3>
    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Title</th>
          <th>Color</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Remove</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let event of events">
          <td>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="event.title"
              (keyup)="refresh.next()"
            />
          </td>
          <td>
            <input
              type="color"
              [(ngModel)]="event.color!.primary"
              (change)="refresh.next()"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="event.start"
              (ngModelChange)="refresh.next()"
              placeholder="Not set"
            />
          </td>
          <td>
            <input
              class="form-control"
              type="text"
              [(ngModel)]="event.end"
              (ngModelChange)="refresh.next()"
              placeholder="Not set"
            />
          </td>
          <td>
            <button class="btn btn-danger" (click)="deleteEvent(event)" [disabled]="disableDelete(event)">
              Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-lg-5">
    <h3>
      <u>Add Reservation</u>
    </h3>
    <form [formGroup]="addResForm" (ngSubmit)="addFromForm()">
      <div class="row">
        <div class="col-4 form-group">
          <label for="start_date"><h5>Start Date</h5></label>
          <input type="date" id="start_date" class="form-control" formControlName="start_date">
        </div>
        <div class="col-4 form-group">
          <label for="end_date"><h5>End Date</h5></label>
          <input type="date" id="end_date" class="form-control" formControlName="end_date">
        </div>
        <div class="col-4">
          <button class="btn btn-primary" type="submit" [disabled]="!addResForm.valid">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>


<ng-template #modalContent let-close="close">
  <div class="modal-header">
    <h5 class="modal-title">Event action occurred</h5>
    <button type="button" class="close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>
      Action:
      <pre>{{ modalData?.action }}</pre>
    </div>
    <div>
      Event:
      <pre>{{ modalData?.event }}</pre>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="close()">
      OK
    </button>
  </div>
</ng-template>
